<%= form_for :team_member, url: submit_member_team_path do |f| %>

  <div class="field">
  <p> Team:- <%=Team.find(params[:id]).name%></p>
    <%= f.hidden_field :team_id, :value => params[:id] %>
  </div>

  <div class="field">
    <%= f.label :member %>
    <select name="member" id="dropdown">
        <%@users.each do |user|%>
        <%unless user.team.present?%>
        <option value="<%=user.id%>"><%=user.email%></option>
       <%end%>
        <%end%>
    </select>
    <%= f.select(:user_id, @users.collect {|user| [user.name, user.id]},:prompt => 'Select user',id:'select_user') %>
  </div>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>

<script type="text/javascript">
  $( "#dropdown" ).select2({
    theme: "bootstrap"
});
</script>
