<%= form_for :team_member, url: submit_member_team_path do |f| %>

  <div class="field">
  <p> Team:- <%=Team.find(params[:id]).name%></p>
    <%= f.hidden_field :team_id, :value => params[:id] %>
  </div>

  <div class="field">
    <%#= f.select(:user_id, @users.collect {|user| [user.email, user.id]},:prompt => 'Select user',id:'select_user') %>
    <%=f.label :user%>
    <%= f.select(:user_id, @users.collect {|u| [ u.email, u.id ] }, { include_blank: true }, id: 'assign_team_user', prompt: 'select user', class: "form-control", required: true)%>
  </div>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>

<script type="text/javascript">
  $( "#assign_team_user" ).select2({
    theme: "bootstrap"
});
</script>
