<%= form_for :assign_project,url: submit_project_team_path do |f|%>

<div class="field">
  <p> Team:- <%=Team.find(params[:id]).name%></p>
    
    <%= f.hidden_field :team_id, :value => params[:id] %>
   
  </div>

  <div class="field">
    <%= f.label :projects %>
    <select name="project">
        <%@projects.each do |project|%>
        <option value="<%=project.id%>"><%=project.name%></option>
        <%end%>
    </select>
  </div>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>
