<%= form_for :assign_project,url: submit_project_team_path do |f|%>

<div class="field">
  <p> Team:- <%=Team.find(params[:id]).name%></p>
    
    <%= f.hidden_field :team_id, :value => params[:id] %>
   
  </div>

  <div class="field">
    <%= f.label :projects %>
   
   <%= f.select(:project_id, @projects.collect {|p| [ p.name, p.id ] }, { include_blank: true }, id: 'assign_projects', prompt: 'select project',  multiple: "multiple", required: true)%>
  </div>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>

<script type="text/javascript">
  $( "#assign_projects" ).select2({
      multiple:true,
  });
  
</script>