<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table class="table table-hover"> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Assign Member</th>
      <th>Assign project</th>
      <th>Assign project member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to "add #{team.name} member", add_member_team_team_path(team)%></td>
        <td><%= link_to "assign projects#{team.name} ", assign_project_team_team_path(team)%></td>
        <td><%= link_to "assign projects#{team.name}member", assign_project_member_team_path(team)%></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Team',new_team_path %>
