<h1>Editing Dependency</h1>
  <%= form_with(model: [ @project, @task, @dependency ], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', project_task_dependencies_path(@project) %>

