
<%TaskMember.all.each do |alltask|%>

<p>
  <strong>Project</strong> <%= Project.find(alltask.project_id).name%>
</p>
<p>
  <strong>Team</strong> <%= Team.find(alltask.team_id).name%>
</p>
<p>
  <strong>user</strong> <%= User.find(alltask.user_id).email%>
</p>
<p>
  <strong>Task</strong> <%= Task.find(alltask.task_id).name%>
</p>
<%end%>
<p>
<%= link_to 'Back', root_path %>
</p>