
<p>
   <strong>Team:</strong><%= @team.name%>
</p>

<p>
 <strong>Member:</strong><%=@user.email%>
</p>

<p>
    <strong>project:</strong><%= @project.name%>
</p>

<%= form_for :project_task_team_member, url: member_task_assign_path(project_id: @project,team_id: @team, member_id: @user,) do |f| %>

 <%= f.label :Member_task_assign %>
 <%unless TaskMember.where(task_id: @project.tasks).first.present?%>
 <p>
 <%= f.select(:task_id, @project.tasks.collect {|t| [t.name, t.id]},:prompt => 'Select task') %>
 </p>
 <%else%>
 <p>alredy assign task</p>
 <%end%>
<%= f.submit %>
<%end%>

<p>
<%= link_to 'Back', root_path %>
</p>