<%= form_for :assign_team_project, url: submit_project_team_path do |f| %>
 
 <div class="field">
    <%= f.label :project %>
    
    <%= f.select(:project_id, @projects.collect {|t| [t.name, t.id]},:prompt => 'Select projects') %>
  </div>

  <div class="field">
    <%= f.label :team %>
    <select name="team">
        <%@teams.each do |t|%>
        
        <option value="<%=t.id%>"><%=t.name%></option>
        
        <%end%>
    </select>
  </div>

 <%=f.submit%>
<%end%>