<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>
   <div class="form-group">
    <%= form.label :client_name %>
    <%= form.select(:client_name, Client.all.collect {|t| [t.name]},:prompt => 'Select Client') %>
  </div>

  <div class="form-group">
    <%= form.label :project_type %>
   <select name="p_type">
        <option value="Fixed_Price">FixedPrice </option>
        <option value="Material">Material </option>
   </select>
  </div>
  
  <div class="form-group">
    <%= form.label :technology %>
   <%= form.select(:technology, Technology.all.collect {|t| [t.name]},:prompt => 'Select Technology') %>
  </div>

  <div class="form-group">
    <%= form.label :project_status %>
   <select name="project_status">
        <option value="Active">Active </option>
        <option value="Pending">Pending </option>
        <option value="Current">Current </option>
   </select>
  </div>
 <div class="form-group">
    <%= form.label :project_cost %>
    <%= form.number_field :project_cost, id: :project_cost %>
  </div>
  <div class="form-group">
    <%= form.label :document %>
    <%= form.file_field :document, id: :project_document %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>
   <div class="form-group">
    <%= form.label :start_date %>
    <%= form.text_field :start_date ,:id=>'datepicker'%>
  </div>
   <div class="form-group">
    <%= form.label :end_date %>
    <%= form.text_field :end_date ,:id=>'datepicker12'%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
  $('#datepicker').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '-3d'
    
});

  $('#datepicker12').datepicker({
    format: 'dd/mm/yyyy',

   });
 });
</script>
